.App {
  text-align: center;
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  color: #0D2004;
}

.Message {
  margin: 5rem 0;
  padding: 0 15rem;
  text-align: left;
}

address {
  margin: 5rem 0;
}

a {
  color: #CB958E;
}

